html {
    background-color: white;
}

.imageContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 23px;
   width: 100%;
}

.img {
    border-radius: 1cm;
}

.textHighlight {
    color: black ; 
    font-weight: bold ;
}
